body
    background-color: darken(blue, 40)
.messageList
    font-size: 25px
    color: darken(grey, 5)
    background-color: #3e3e3e
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 10px 0
    .message
        margin: 0
        display: flex
        flex-direction: column
        &-author
            font-size: 20px
            color: darken(grey, 10)
